
<style>
    .formulario{
      padding-left: 252px;
    }
  </style>
  
  <div class="formulario">
      <form [formGroup]="addForm" (ngSubmit)="submitForm()">
        <label>Nome</label>
        <input type="text" formControlName="name"><br>
        <label>email</label>
        <input type="email" formControlName="email"><br>
        <label>senha</label>
        <input type="password" formControlName="password"><br>
        <button type="submit">criar loja</button>
      </form>

    </div>
  