.p-carousel-dot-item {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;  
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.p-carousel-dot-item.p-highlight {
  background-color: #007ad9;
}
 
/* custom-carousel.css /

.p-carousel-dots-container {
  display: flex; / Alinha os pontos em uma linha /
  justify-content: center; / Centraliza os pontos horizontalmente /
  align-items: center; / Alinha os pontos verticalmente /
  margin-top: 1rem; / Espaçamento superior /
}

.p-carousel-dot-item {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9; / Cor de fundo dos pontos /
  border-radius: 50%; / Faz com que os pontos sejam circulares /
  margin: 0 5px; / Espaçamento entre os pontos /
  transition: background-color 0.3s ease; / Transição suave para a cor de fundo /
}

.p-carousel-dot-item.p-highlight {
  background-color: #007ad9;} / Cor de fundo dos pontos ativos */
