<div class="w-full h-96 bg-gray-800 relative" *ngIf="bannerImgs.length > 0">
  <div class="absolute inset-0 carousel-inner">
    <div class="carousel-item" *ngFor="let imageUrl of bannerImgs; let i = index" [class.active]="i === currentSlide">
      <img [src]="imageUrl" class="w-full h-96 object-cover" alt="Carousel Image {{i + 1}}">
    </div>
  </div>
  <button class="absolute left-0 top-1/2 transform -translate-y-1/2 p-2 text-white bg-gray-700 bg-opacity-50 hover:bg-opacity-75" (click)="prevSlide()">&#10094;</button>
  <button class="absolute right-0 top-1/2 transform -translate-y-1/2 p-2 text-white bg-gray-700 bg-opacity-50 hover:bg-opacity-75" (click)="nextSlide()">&#10095;</button>
</div>
<div *ngIf="bannerImgs.length === 0">
  <p>No images available</p>
</div>

<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Os mais comprados da semana!</h2>
  
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative" *ngFor="let product of products | slice:0:4">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img [src]="product.images" alt="Front of men's Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700 hover:cursor-pointer">
              <a (click)="goToProduct(product)">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{product.name}}
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{getCategoryDisplayName(product.category)}}</p>
          </div>
          <p class="text-sm font-medium text-gray-900">{{product.price | currency: 'BRL'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
