.footer-content {
    width: 100%; /* Ocupa toda a largura da tela */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; /* Cor de fundo do footer */
    padding: 10px 20px; /* Espaçamento interno do footer */
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2); /* Sombra para separar do conteúdo */
    position: fixed; /* Fixa o footer na parte inferior da tela */
    bottom: 0; /* Alinha o footer na parte inferior */
    left: 0; /* Alinha o footer à esquerda */
    z-index: 1000; /* Z-index alto para garantir que fique acima de outros conteúdos */
}

.footer-content p {
    margin: 0;
    color: #6c757d;
}

.footer-logo img {
    width: 45px;
    height: 100%;
    display: block; /* Garante que a imagem se ajuste corretamente */
}
  

.no-underline {
  text-decoration: none;
}
.text-lg {
  font-size: 1.125rem; /* 18px */
}
.text-center {
  text-align: center;
}

.bg-custom-blue {
  background-color: #002856 !important;
}