input[type="text"] {
    height: 100%;
  }
  
  button[type="submit"] {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa;
}
.footer-content {
    width: 100%; /* Ocupa toda a largura da tela */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Cor de fundo do footer */
    padding: 10px 20px; /* Espaçamento interno do footer */
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2); /* Sombra para separar do conteúdo */
    position: fixed; /* Fixa o footer na parte inferior da tela */
    bottom: 0; /* Alinha o footer na parte inferior */
    left: 0; /* Alinha o footer à esquerda */
    z-index: 1000; /* Z-index alto para garantir que fique acima de outros conteúdos */
}

.footer-content p {
    margin: 0;
    color: #6c757d;
}

.footer-logo img {
    width: 40px;
    height: 32px;
    display: block; /* Garante que a imagem se ajuste corretamente */
}
  