/* Remova a propriedade position: fixed */
.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 20px;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Adicione um container para o footer */
.footer-container {
  position: relative;
  padding-bottom: 50px; /* Adicione um padding para que o footer seja visível */
}

/* Adicione o footer dentro do container */
.footer-container .footer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content p {
    margin: 0;
    color: #6c757d;
}

.footer-logo img {
    width: 45px;
    height: 100%;
    display: block; /* Garante que a imagem se ajuste corretamente */
}
  

.no-underline {
  text-decoration: none;
}
.text-lg {
  font-size: 1.125rem; /* 18px */
}
.text-center {
  text-align: center;
}

.bg-custom-blue {
  background-color: #002856 !important;
}

.text-decoration-none {
  text-decoration: none;
}

