<header class=" shadow-md shadow-brown-500 rounded sticky top-0 z-50" style="background-color: #f5f5f5;">
  <nav class=" border-b border-gray-200" style="background-color: #f5f5f5;">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-24">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button 
            type="button" 
            (click)="toggleMobileMenu()" 
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" 
            aria-controls="mobile-menu" 
            aria-expanded="false"
          >
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed -->
            <svg *ngIf="!isMobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Icon when menu is open -->
            <svg *ngIf="isMobileMenuOpen" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <!-- Logo section -->
        <div class="flex items-center justify-center sm:justify-start flex-1">
          <a href="" class="flex-shrink-0">
            <img class="h-24 w-auto" src="../assets/logo.png" alt="Your Company">
          </a>
        </div>
        <!-- Desktop menu -->
        <div class="hidden sm:flex items-center justify-center space-x-4 text-lg">
          <ng-container *ngIf="isLoggedIn; else guest">
            <a routerLink="create" class="rounded-md bg-custom-blue px-3 py-2 font-medium text-white no-underline" aria-current="page">Adicionar Produtos</a>
            <a routerLink="/list" class="rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Lista de produtos</a>
            <a routerLink="/orders" class="rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Lista de pedidos</a>
            <a (click)="logout()" class="rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline hover:cursor-pointer">Logout</a>
          </ng-container>
          <ng-template #guest>
            <a routerLink="/showdown" class="rounded-md bg-custom-blue px-3 py-2 font-medium text-white no-underline" aria-current="page">Produtos</a>
            <a routerLink="/cart" class="rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Carrinho</a>
            <a routerLink="/login" class="rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Portal do Lojista</a>
          </ng-template>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu" *ngIf="isMobileMenuOpen">
      <div class="space-y-1 px-2 pb-3 pt-2 text-center text-lg">
        <!-- Current: "bg-blue-500 text-white", Default: "text-gray-700 hover:bg-gray-100 hover:text-gray-900" -->
        <a routerLink="create" class="block rounded-md bg-blue-500 px-3 py-2 font-medium text-white no-underline" aria-current="page" *ngIf="isLoggedIn; else guestMobile">Adicionar Produtos</a>
        <a routerLink="/list" class="block rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline" *ngIf="isLoggedIn">Lista de produtos</a>
        <a routerLink="/orders" class="block rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline" *ngIf="isLoggedIn">Lista de pedidos</a>
        <a (click)="logout()" class="block rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline" *ngIf="isLoggedIn">Logout</a>
        <ng-template #guestMobile>
          <a routerLink="/showdown" class="block rounded-md bg-custom-blue px-3 py-2 font-medium text-white no-underline" aria-current="page">Produtos</a>
          <a routerLink="/cart" class="block rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Carrinho</a>
          <a routerLink="/login" class="block rounded-md px-3 py-2 font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 no-underline">Portal do Lojista</a>
        </ng-template>
      </div>
    </div>
  </nav>
</header>

<!-- Main content -->
<router-outlet></router-outlet>

<footer class="footer-content">
  <p>&copy; {{currentYear}} TouchdownMarket, Inc</p>
  <div class="footer-logo">
    <img src="../assets/logo.png" class="h-8 w-auto" alt="Your Company">
  </div>
</footer>