.input{
    display: none;
}

#label{
    display: inline-block;
    color: #fff;
    background: #002856;
    text-align: center;
    padding: 12px 22px;
    font-size: 15px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
}

#label i{
    font-size: 20px;
    margin-right: 10px;
}

#label:active{
    transform: scale(0.9);
}

.bg-custom-blue {
    background-color: #002856 !important;
  }