<div class="bg-white">
  <div class="pt-6">
    <div class="grid grid-cols-1 justify-items-center">
      <div class="md:grid md:grid-cols-2 md:content-center items-center max-w-screen-lg">
        <div class="mt-0">
          <img
            [src]="product.images"
            alt="Imagem do Produto"
            class="h-full w-full max-h-lg max-w-lg object-cover p-5 rounded-[2rem] object-center cursor-pointer"
          />
        </div>

        <div class="mx-auto px-4 pb-16 pt-10">
          <h1
            class="text-3xl sm:text-4xl font-bold text-center tracking-tight text-gray-900"
          >
            {{ product.name }}
          </h1>

          <div class="mt-4 md:mt-5">
            <p
              class="text-5xl sm:text-6xl text-center tracking-tight text-sky-950 font-bold"
            >
              {{ product.price | currency: "BRL" }}
            </p>

            <div class="px-3 py-4 max-w-screen-lg">
              <h3
                class="font-semibold text-xl sm:text-3xl pb-2 text-blue-950"
              >
                Descrição
              </h3>
              <div class="space-y-6">
                <p class="text-base sm:text-2xl text-sky-950">
                  {{ product.description }}
                </p>
              </div>
            </div>

            <form class="mt-5 flex justify-center">
              <button
                (click)="onAddToCart(product)"
                type="submit"
                class="text-lg sm:text-2xl mt-5 w-full sm:max-w-md items-center text-center rounded-md border border-transparent bg-custom-blue px-4 py-2 text-white focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer"
              >
                Adicionar ao carrinho
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
